<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모든리뷰</title>
</head>
<body>
<a href="/main">메인페이지</a>
<table>
  <tr>
    <th>제목</th>
    <th>식당이름</th>
    <th>작성자</th>
    <th>카테고리</th>
    <th>별점</th>
  </tr>
  <tr th:each="board: ${boardList}">
    <td><a th:href="@{|/board/${board.num}|}" th:text="${board.title}"></a></td>
    <td th:text="${board.restaurant}"></td>
    <td th:text="${board.id}"></td>
    <td th:text="${board.category}"></td>
    <td th:text="${board.rate}"></td>
  </tr>
</table>
</body>
</html>