<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>메인페이지</title>
</head>
<body>
    <div class="container">
        <h1>TasteRoad</h1>
        <div class="float-right">
            <a href="/board/korean-food/paging">한식</a>
            <a href="/board/western-food/paging">양식</a>
            <a href="/board/japanese-food/paging">일식</a>
            <a href="/board/chinese-food/paging">중식</a>
            <a href="/member/mypage/paging">마이페이지</a>
            <a href="/member/logout">로그아웃</a>
        </div>

        <table class="table table-striped">
            <tr>
                <th>제목</th>
                <th>식당이름</th>
                <th>작성자</th>
                <th>카테고리</th>
                <th>별점</th>
            </tr>
            <tr th:each="board: ${pageList}">
                <td><a th:href="@{|/board/${board.num}|(page=${pageList.number+1})}" th:text="${board.title}"></a></td>
                <td th:text="${board.restaurant}"></td>
                <td th:text="${board.id}"></td>
                <td th:text="${board.category}"></td>
                <td th:text="${board.rate}"></td>
            </tr>
        </table>
        <a href="/board/review" class="btn btn-primary float-right">글 작성</a>
        <div class="text-center">
            <a th:href="@{/main/paging(page=1)}"><<</a>
            <a th:href="${pageList.first} ? '#' : @{/main/paging(page=${pageList.number})}"><</a>
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page == pageList.number+1}" th:text="${page}"></span>
        <span th:unless="${page == pageList.number+1}">
            <a th:href="@{/main/paging(page=${page})}" th:text="${page}"></a>
        </span>
        </span>
            <a th:href="${pageList.last} ? '#' : @{/main/paging(page=${pageList.number+2})}">></a>
            <a th:href="@{/main/paging(page=${pageList.totalPages})}">>></a>
        </div>
    </div>
</body>
</html>