<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div id="map" style="width:500px;height:400px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0454ac8612a2837299b083a6aa492029"></script>

<script>
    let container = document.getElementById('map');
    let options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    const map = new kakao.maps.Map(container, options);
</script>
</body>
</html>