<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title>리뷰 수정</title>
</head>
<body>
    <div class="container">
        <h2 th:text="${update.restaurant}"></h2>
        <form action="/board/update" method="post">
            <input type="hidden" name="num", th:value="${update.num}">
            <div class="mb-3">
                <label for="id">작성자</label>
                <input type="text" class="form-control" name="id" id="id" th:value="${update.id}" readonly>
            </div>
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" class="form-control" name="title" id="title" th:value="${update.title}">
            </div>
            <div class="mb-3">
                <textarea name="content" class="form-control" cols="30" rows="10" th:text="${update.content}"></textarea>
            </div>
            <input type="hidden" name="category", th:value="${update.category}">
            <input type="hidden" name="rate", th:value="${update.rate}">
            <input type="hidden" name="restaurant", th:value="${update.restaurant}">
            <input type="hidden" name="latitude", th:value="${update.latitude}">
            <input type="hidden" name="longitude", th:value="${update.longitude}">
            <button type="button" class="btn btn-primary float-right modified">수정</button>
        </form>
    </div>
    <script th:inline="javascript">
        $(".modified").click(function () {
            if(!confirm("수정하시겠습니까?")) {
                return;
            }
            $("form").attr("action", "/board/update")
                .attr("method", "post").submit();
        });
    </script>
</body>
</html>